!!!
%html
  %head
    %title Eiratech Robotics are trying to inflict on EiraCube
    :css
      body {
        font-size: 14pt;
        padding: 0;
        margin: 0;
      }
      .inner_container {
        width: 960px;
        margin: 0 auto 40px;
      }
    - if @mobile_device
      :css
        body {
          font-size: 28pt;
        }
        .inner_container {
          padding: 0 40px;
        }
  %body
    .inner_container
      %h1 Eiratech Robotics are trying to inflict on EiraCube
      %p This is pure sabotage Eiratech are trying to inflict on Eiracube and there is more to this than meets the eyes. 
      %p The facts are Eiratech are trying to derail the project because they wanted to charge more for the Robots and take a bigger cut of the profits, as a result, Eiracube decided to take their business elsewhere and not be held to ransom. 
      %p Eiratech could not accept this decision and as s a result initiated a deliberate attack against eiracube going all out to tarnish the ICO in every possible way to create failure.
      %p Eiratech has not been forthcoming with a name representing this allegation and hides away with zero proof, but I am able to shed some light.
      %p It is believed that ALEXEY TABOLKIN is the one making these allegations along with Alexander Belenky. After some digging around I have found the following that gives a clear picture of the man behind these false allegations. Enjoy the read.
      %p
        %a{:href => "https://companycheck.co.uk/company/IE544834/EIRATECH-ROBOTICS-LIMITED/companies-house-data"} https://companycheck.co.uk/company/IE544834/EIRATECH-ROBOTICS-LIMITED/companies-house-data
        %br/
      %p Report 1.
      %p
        Deputy head of the Angstrem Group Tabolkin and former financial director Pereverzev arrested in the embezzlement case
        %br/
        At the request of the police in Moscow, the former president was arrested, and now — the deputy director of the Angstrem Group of Companies Alexey Tabolkin and ex-finance director Nikolay Pereverzev. They are suspected of embezzlement on an especially large scale. In the Civil Code, which belongs to the former Minister of Communications Leonid Reiman and who is the developer and main supplier of special electronic components and microelectronics products for the strategic sectors of the Russian economy, they hope that the “misunderstanding” will soon be resolved. Click here to continue reading
        %a{:href => "https://www.rospres.org/government/12229/"} https://www.rospres.org/government/12229/
      %p Report 2. 
      %p
        Top-managers of Angstrem are arrested on suspicion of embezzlement
        %br/
        Alexei Tabolkin (left) and Nikolai Pereverzev. Photos from sites
        %a{:href => "http://events.gd.ru/"} events.gd.ru
        and
        %a{:href => "http://old.ibusiness.ru/"} old.ibusiness.ru
        %br/
        Two managers of JSC “Angstrem” are accused of misappropriation, embezzlement and embezzlement of the company’s funds for a total of about 76 million rubles.
        %br/
        This was reported on April 10 in the press service of the Ministry of Internal Affairs of the capital. The criminal case was initiated on April 2, part 4 of Article 160 of the Criminal Code of the Russian Federation (misappropriation or embezzlement, that is, stealing someone else’s property entrusted to the guilty of an especially large amount committed by an organized group), which punishes up to ten years of imprisonment with a fine of up to 1 million rubles. At the moment, the suspects have been arrested. In the police message, the names of detainees are not named, but only their posts are indicated. 
        %br/
        According to the investigation, the first deputy general director and managing director for projects of the management of JSC “Angstrem” signed contracts with organizations for the development and installation of communication centers in the territory of the Russian Federation. However, in reality these services were not provided. Using the official position, the accused transferred about 75.5 million rubles to the settlement accounts of fictitious companies, causing the company material damage in an especially large amount. During the searches at the company’s offices, the police found documents that convict detainees of the crime, the press service noted. The detention of managers was conducted with the participation of FSB officers and with the support of the OMON. see article here
        %a{:href => "http://www.netall.ru/gnn/130/574/706523.html"} http://www.netall.ru/gnn/130/574/706523.html